<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de restaurantes registrados</title>
    <link rel="stylesheet" href="/css/restaurentes.css">
</head>
<body>
<div th:fragment="content">
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Website</th>
            <th>Telefono</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="restaurante : ${restaurantes}">
            <td th:text="${restaurante.id}"></td>
            <td th:text="${restaurante.nombreDelNegocio}"></td>
            <td th:text="${restaurante.correo}"></td>
            <td th:text="${restaurante.paginaWeb}"></td>
            <td th:text="${restaurante.telefono}"></td>
            <td>
                <a th:href="@{/restaurantes/modificar/{id}(id=${restaurante.id})}">Modificar</a>
                <a th:href="@{/restaurantes/eliminar/{id}(id=${restaurante.id})}">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/restaurantes/nuevo">Registrar nuevo usuario</a>
</div>
</body>
</html>
